<h1>Wishlist</h1>

<% @products.each do |item| %>
  <a href="/products/<%= item.id %>"><%= image_tag "#{item.image}", class: 'thumbnail' %></a><br>
  Product Name: <%= item.name %><br>
  Brand: <%= item.brand %><br>
  Product Type: <%= item.product_type %><br>
  Color: <%= item.product_color %><br><br>
<% end %>