<div style="text-align: center">
  <%= image_tag "#{@product.image}" %><br>
  <b><%= @product.name.upcase %></b><br>
  type: <%= @product.product_type %><br>
  brand: <%= @product.brand %><br>
  color: <%= @product.product_color %><br>
</div>