<h1>Swatch</h1>

<div style="text-align: center">

  <%= image_tag "#{@product.image}" %><br>
  <h3><%= @product.name.upcase %></h3><br>
  Product Type: <%= @product.product_type %><br>
  Brand: <%= @product.brand %><br>
  Color: <%= @product.product_color %><br><br>
    
  <% if user_signed_in? %>
    <%= form_tag '/wishlist', method: :post do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag 'Add to Wishlist' %>
    <% end %>

    <%= form_tag '/traincase', method: :post do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag 'Add to Traincase' %>
    <% end %>
    <br>

    Suggest dupe:
    <%= form_tag '/dupes', method: :post do %>
      <%= hidden_field_tag :primary_id, @product.id %>
      <%= select_tag(:secondary_id, options_for_select(@options)) %>
      <%= submit_tag 'Submit' %>
    <% end %>

  <% else %>
    <%= link_to 'Sign In', '/users/sign_in' %> or <%= link_to 'Sign Up', '/users/sign_up' %>
  <% end %>

  <br> 

  <h2>Dupes</h2>

  <% @top_dupes.each do |item| %>

    <%= link_to "#{item.product.name}", "#{item.product.id}" %> (<%= item.votes.count %>)<br>

    <%= link_to image_tag("#{item.product.image}", class: 'thumbnail'), "#{item.product.id}" %>

    <%= form_tag '/votes', method: :post do %>
      <%= hidden_field_tag :dupe_id, item.id %>
      <%= submit_tag 'Vote' %>
    <% end %>

  <b>Tags</b> <br>
  <% item.tags.select(:text).group(:text).having("count(*) >= 1").take(5).each do |tag| %>
    <%= tag.text %>.
  <% end %> <br>

  <b>Add a tag:</b> <br>
  <%= form_tag '/tags', method: :post do %>
    <%= hidden_field_tag :dupe_id, item.id %>      
    <%= text_field_tag :text %>
    <%= submit_tag 'Submit' %>
  <% end %>
  <br><br>

<% end %>

</div>