<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <%= link_to 'Home', '/' %>
  <%= link_to 'Colors', '/colors' %>
  <% if user_signed_in? %>
    <%= link_to 'Profile', '/user' %>   
    <%= link_to 'Sign Out', '/users/sign_out', method: :delete %>
  <% else %> 
    <%= link_to 'Sign In', '/users/sign_in' %>
    <%= link_to 'Sign Up', '/users/sign_up' %>
  <% end %>
</div>
<br>

<div>
  <%= form_tag '/', method: :get do %>
    <%= text_field_tag :search, nil, placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<br><br>

<div>
  <% flash.each do |name, message| %>
    <%= message.upcase %>
  <% end %>
</div>

<br><br>

<%= yield %>

</body>
</html>
