<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ColorCrush" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title" style="font-size: 1.5rem"><%= link_to 'ColorCrush', '/', {:style => "color: #fff"} %></span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-title">Login</span>
        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li><a href="left_item_1">Left item 1</a></li>
        <li><a href="left_item_2">Left item 2</a></li>
        <li><a href="left_item_3">Left item 3</a></li>
      </ul>
    </div>

    <!-- off-canvas right menu -->
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', '/user' %></li>
          <li><%= link_to 'Traincase', '/traincase' %></li>
          <li><%= link_to 'Wishlist', '/wishlist' %></li>
          <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
        <% else %> 
          <li><%= link_to 'Sign In', '/users/sign_in' %></li>
          <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
        <% end %>
      </ul>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text" style="font-size: 1.5rem"><%= link_to 'ColorCrush', '/', {:style => "color: #fff"} %></li>
          <li class="has-submenu">
            <a href="#">Item 1</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_11">Left wide 1</a></li>
              <li><a href="left_wide_12">Left wide 2</a></li>
              <li><a href="left_wide_13">Left wide 3</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Item 2</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_21">Left wide 1</a></li>
              <li><a href="left_wide_22">Left wide 2</a></li>
              <li><a href="left_wide_23">Left wide 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <% if user_signed_in? %>
              <a href="#"><%= current_user.email %></a>
            <% else %>
              <%= link_to 'Register', '/users/sign_up' %>
            <% end %>
            <ul class="menu submenu vertical" data-submenu>
              <% if user_signed_in? %>
                <li><%= link_to 'Profile', '/user' %></li>
                <li><%= link_to 'Traincase', '/traincase' %></li>
                <li><%= link_to 'Wishlist', '/wishlist' %></li>
                <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
              <% else %> 
                <li><%= link_to 'Sign In', '/users/sign_in' %></li>
                <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="row column">

        <br>

        <%= form_tag '/', method: :get do %>
          <%= text_field_tag :search, nil, placeholder: "Search for products" %><%= submit_tag "Search", class: 'button secondary' %>
        <% end %>


        <div>
          <% flash.each do |name, message| %>
            <%= message.upcase %>
          <% end %>
        </div>

        <br>

        <%= yield %>

      </div>
    </div>

  <!-- close wrapper, no more content after this -->
  </div>
</div>

</body>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">ColorCrush</p>
      <p class="links">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Last Words</p>
    </div>
  </div>
</footer>

</html>
